/* reset a few things */   /* for the main content div *//* for the main content div */
body {
  margin: 0;
  padding               : 0;      /* this should not be removed */
}






/* for the main content div */
#content {
  margin:                   10px
}
 /* for the main content div *//* for the main content div *//* for the main content div */




